############################################################
### Project: clerk-savior 
### File: clerk.cfg
### Description: configuration file
### Version: 1.0
############################################################

# Set this if models are stored in a specific directory
[DEFAULT]
path= 